@page
@model WebUI.Pages.ThermalConductivitiesPages.DeleteModel

<div class="bg-light">
	<form method="post">
		<input asp-for="ThermalConductivityDto.Name" hidden />
		<div class="row col-6 fs-1 pl-3 mx-3 mb-5">
			Vymazanie tepelnej vodivosti
		</div>
		<div class="p-5">
			<div classs="my-3" style="display:flex; flex-direction: row; width:50%">
				<div class="fs-4 m-3">Materiál:</div>
				<div class="form-control fs-4 py-3">@Model.ThermalConductivityDto.Name</div>
			</div>
			<div class="my-3" style="display:flex; flex-direction: row; width:35%">
				<div class="fs-4 m-3">Tepelná&nbsp;vodivosť:</div>
				<div class="form-control fs-4 w-25 py-3" style="text-align:right">@Model.ThermalConductivityDto.Value</div>
				<div class="fs-4 my-3 mx-2">W/mK</div>
			</div>
		</div>
		<button type="submit" class="btn btn-secondary float-sm-start m-3">Potvrď</button>
	</form>
</div>
