@page
@model WebUI.Pages.BuildingElementsPages.EditModel

<div class="bg-light">
	<form method="post">
		<input hidden asp-for="BuildingElementDto.Id" />
		<div class="row fs-1 mx-5 py-5">
			Stavebná konštrukcia
		</div>
		<div class="p-5">
			<div class="my-3" style="display:flex; flex-direction: row; width:50%">
				<label class="fs-4 m-3">Podlažie:</label>
				<select id="storeys" asp-items="Model.StoreySelectList" class="fs-4 px-2">
					<option value="">-- Podlažia --</option>
				</select>
			</div>
			<div class="my-3" style="display:flex; flex-direction: row; width:50%">
				<label class="fs-4 m-3">Názov&nbsp;priestoru:</label>
				<select id="spaces" asp-for="BuildingElementDto.SpacesId" asp-items="Model.SpaceSelectList" class="fs-4 px-2" onchange="getCollection(2, this.value)">
					<option value="">-- Priestory --</option>
				</select>
			</div>
			<div classs="my-5" style="display:flex; flex-direction: row; width:50%">
				<label class="fs-4 mx-3 my-4">Stavebná&nbsp;konštrukcia:</label>
				<input id="name" asp-for="BuildingElementDto.Name" class="form-control fs-4 my-3" />
			</div>
			<div classs="my-3" style="display:flex; flex-direction: row; width:50%">
				<label class="fs-4 mx-3 my-4">Účinná&nbsp;plocha:</label>
				<input id="area" asp-for="BuildingElementDto.EffectiveArea" class="form-control fs-4 my-3" oninput="realNumberValidation(this)" />
				<div class="fs-4 m-3">m<sup>2</sup></div>
			</div>
			<div class="my-3" style="display:flex; flex-direction: row; width:50%">
				<label class="fs-4 m-3">Vedľajší&nbsp;priestor:</label>
				<select id="contiguousSpaces" asp-for="BuildingElementDto.ContiguousSpaceId" disabled class="fs-4 px-2">
					<option value="">-- Vonkajší priestor --</option>
				</select>
			</div>
		</div>
		<button id="confirm" type="submit" class="btn btn-secondary float-sm-start m-3">Potvrď</button>
	</form>
</div>
