@page
@model WebUI.Pages.ThermalResistancesPages.IndexModel


<div class="conainer p-3 bg-light border">
	<div class="row py-0">
		<div class="col-6 px-3">
			<div class="display-4 mb-5">
				Tepelené odpory
			</div>
		</div>
		<div class="col-6">
			<a asp-page="Create" class="btn btn-secondary">
				Ďalší tepelný odpor
			</a>
		</div>
	</div>

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th class="fs-4 text-decoration-none px-6">Materiál</th>
				<th class="fs-4 text-decoration-none px-6">Tepelný odpor</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var thermalResistance in Model.ThermalResistanceList)
			{
				<tr>
					<td class="fs-4 text-black text-decoration-none px-2">@thermalResistance.Name</td>
					<td class="fs-4 text-black text-decoration-none px-2">@thermalResistance.Value m<sup>2.</sup>K/W</td>
					<td class="fs-5 text-decoration-none px-2">
						<a asp-page="Edit" asp-route-id="@thermalResistance.Id" class="btn text-black bg-light border-dark mx-2">Uprav</a>
						<a asp-page="Delete" asp-route-id="@thermalResistance.Id" class="btn text-black bg-light border-dark mx-2">Vymaž</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
